@font-face {
  font-family: 'powerPixel';
  src: url('./PowerPixel7-Jy0E.ttf');
}
* {
  box-sizing: border-box;
}
body {
  font-family: 'powerPixel';
  width: 100vw;
  height: 100vh;
}
.tetris-box {
  height: 100vh;
  display: flex;
  align-items: center;
  width: 40%;
  margin: auto;
  justify-content: space-between;
}
#board {
  border: 2px solid;
}
.score-box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;
}
.score-box h1 {
  font-size: 70px;
  margin-bottom: 30px;
}
.score-box p {
  font-size: 40px;
}

.score-box button {
  border: 1px solid #232323;
  font-family: 'powerPixel';
  padding: 10px 30px;
  font-size: 30px;
  cursor: pointer;
}

.playBtn {
  background-color: #5cad51;
  /* background-color: #4caf50; */
}
.stopBtn {
  background-color: #232323;
  color: #fff;
}
.btn {
  display: none;
}
.btn.on {
  display: block;
}
